<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Mange People</h2></div>
    <div>
        <a class="h3" th:href="@{/people/new}"></a>
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Date Joined</th>
                    <th>Date Updated</th>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="person : ${people}">
                <td th:text="${person.id}">Id</td>
                <td th:text="${person.age}">Age</td>
                <td th:text="${person.dateJoined}">Date Joined</td>
                <td>
                    <a class="h4" th:href="@{/people/edit}">Edit</a>
                    <a class="h4" th:href="@{/people/delete}">Delete</a>
                </td>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>